<nav class="navbar navbar-expand-lg bg-body-tertiary bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" >Ecommerce-GT</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- solo se muestra cuando el usuario es comun -->
      <div *ngIf="usuario.tipo_rol === 1" class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" type="button" (click)="goHomeCatego()" >Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" type="button" (click)="goMisVentas()" >Mis Ventas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" type="button" (click)="goMisPeidos()" >Mis compras</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" type="button"  (click)="goPerfil()">Perfil</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="buscar Producto" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
          <a class="navbar-brand" > </a>  
        </form>
        <div class="navbar-brand">
          <a class="nav-link" type="button" (click)="goShoppingCart()">Ir al Carrito 
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 16 16">
              <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"/>
              <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
            </svg>
          </a>
        </div>
      </div>
      <!-- solo se muestra cuando el usuario es paqueteria -->
      <div *ngIf="usuario.tipo_rol === 2" class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" type="button"  (click)="goGestionPedidos()" >Segumiento de Pedidos
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
                <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
              </svg>
              <span class="badge badge-warning">1</span>
            </a>
            
          </li>
          <li class="nav-item">
            <a class="nav-link" type="button"  (click)="goPerfil()">Perfil</a>
          </li>
        </ul>
        <div class="navbar-brand">
          <a class="nav-link" type="button" (click)="goGestionProdctos()">Solicitudes de Productos 
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell-fill" viewBox="0 0 16 16">
              <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"/>
            </svg>
            <span class="badge badge-warning">1</span>
          </a>
        </div>
      </div>

       <!-- solo se muestra cuando el usuario es Administrador -->
       <div *ngIf="usuario.tipo_rol === 3" class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" type="button"  (click)="goRegistrarNewEmpleado()" >Nuevo Usuario
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" type="button"  (click)="goPerfil()">Perfil</a>
          </li>
        </ul>
        <div class="navbar-brand">
          <a class="nav-link" type="button" (click)="goAreaReports()" >Area Reportes 
          </a>
        </div>
      </div>
    </div>
  </nav>
  <div *ngIf="sesion.mostrarHead && usuario.tipo_rol === 1" class="hero">
    <h1><b>Productos En Venta</b></h1>
  </div>