<h1 class="text-center" >Top 10 productos más vendidos</h1>
<table class="table table-bordered  border-info">
    <thead>
        <tr class="table-success">
            <th class="text-center" scope="col">#</th>
            <th class="text-center" scope="col">Producto</th>
            <th class="text-center" scope="col">Precio U</th>
            <th class="text-center" scope="col">Cantidad Vendida</th>
            <th class="text-center" scope="col">Detalles del Vendedor</th>
        </tr>
    </thead>
    <tbody>
        <tr  *ngFor="let venta of ventas let i= index" >
            <th class="text-center"  scope="row">{{i+1}}</th>
            <td >{{venta.nombre_producto}}</td>
            <td class="text-center" >Q {{venta.precio_producto}}</td>
            <td class="text-center" >{{venta.cantidad_vendida}}</td>
            <td class="text-center" ><button type="button" class="btn btn-link" >ver detalles</button></td>
        </tr>
    </tbody>
</table>